<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<nav id="nav-container">
    <button id="login-button">
        <a href="/login">Login</a>
    </button>
</nav>
<h1><%= title %> API</h1>
<h2>Enjoy a freshly brewed coffee fact:</h2>
<ul>
  <% facts.forEach(function(fact) { %>
    <li><%= fact.fact %></li>
  <% }); %>
</ul>
<a href="https://github.com/iamericfletcher/CoffeeFacts" target="_blank">API Information</a>
</body>
</html>
